body{
    background-color: #fef945;
    font-size: 14px;
}

p{
    color: #F00;
}

#p{
    color: #000;
}

#miasto, a{
    color: deeppink;
}

#koloroczu{
    color: #2D2;
}

div > a{
    color: darkred;
}